apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: kro-local-test
  namespace: argocd
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
    - list:
        elements:
          - name: kro-resources
            namespace: default
  template:
    metadata:
      name: '{{.name}}'
    spec:
      project: default
      source:
        repoURL: https://github.com/cr24osome/kro.git
        targetRevision: HEAD
        path: .
        directory:
          recurse: false
          include: '*.yaml'
          exclude: 'argocd-*.yaml'
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{.namespace}}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
          - ServerSideApply=true  # Important for CRDs and kro resources

